.item
  p \Название: 
    #{item.name}
  p \Добавлено: 
    - var n = new Date(item.added)
    #time #{item.added}
  p \Вес: 
    #{item.weight}
  #complectations!= partial('complectation', item.complectations)

