body {
	font-family: 'PT Sans Narrow', arial, serif;
	margin: 10px 20% 10px 20%;
}
#items {
	width: 60%;
	background-color: fafafa;
	border: 2px solid black;
	-moz-border-radius: 10px;
	-moz-box-sizing: content-box;
	-moz-box-shadow: 0px 10px 15px #333333;
	-webkit-box-sizing: content-box;
	-webkit-box-shadow: 0px 10px 15px #333333;
	box-sizing: content-box;
	box-shadow: 0px 10px 15px #333333;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}
.item {
	background-color: #CFCFCF;
	border: 2px dotted black;
	padding: 5px;
	font-size: 1em;
}
.item p { 
	font-weight: bold;
}
#complectations .complectationname {
	color: #ff0084;
	font-size: 16px;
	font-weight: bold;
}
#complectations .comp {
	color: green;
	text-decoration: underline;
}
#complectations .price {
	color: #ff0084;
	text-decoration: underline;
}
	
#error {
	color: red;
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 1px dotted;
	border-bottom-color: #000000;
}
	
