html(lang="ru")
	head
		title Notik updates
		link(rel: 'stylesheet', 'href='style.css')
		link(href : 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic,latin', rel : 'stylesheet', type : 'text/css')
	body
		h1 Notik updates list
		b \Amount: #{count}

		#contents
		#items!= partial('item', list)		
